name: WeatherWorkflow
on:
  schedule:
    - cron: "15 * * * *"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests python-dotenv

      - name: Run Python script
        env:
          MY_SECRET_KEY: ${{ secrets.WEATHER_KEY }}
        run: python main.py
